table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #fff;
}
table.tablesorter thead tr .header {
    background-image: url('../../../template_file/img/admin/bg.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url('../../../template_file/img/admin/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
    background-image: url('../../../template_file/img/admin/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #f6f6f6;
}

.select2-container{
    width: 100% !important;
}